* {
    margin: 0;
    padding: 0;
}

div.app-log,
div.deploy-log {
    z-index:1;
    background-color: #FFF;
    resize: both;
    font-size: 10pt;
    font-family: monospace;
    overflow-y: scroll;
    height:200px;
}